<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section id="Profile">
        <div id="Profile-icon">

        </div>
        <div id="Profile-stats">
            <h1>{{user.name}}</h1>
            {{#each matches}}
                <h2>{{this.lane}}</h2>
                <h3>{{this.champion}}</h3>
            {{/each}}
            <!--<h1>{{user.name}}</h1>
            <h2>{{matches.matches.0.lane}}</h2>
            <h3>{{matches.matches.0.champion}}</h3>-->
        </div>
        <div id="Profile-Game">
            <h1>{{user.profileIconId}}</h1>
            <h1>{{user.summonerLevel}}</h1>
        </div>
    </section>
    <section id="Matches">

    </section>
</body>
</html>