
{{!--Komma åt iconerna med api requesterna till ddragon med sedan en output med bild till style --}}
<style>
    #icon
    {
        background:url("http://ddragon.leagueoflegends.com/cdn/10.6.1/img/profileicon/{{user.profileIconId}}.png");
    }

</style>

{{>header}}
    <div class="bar">

    </div>
    <section class="Profile">
        <div class="Profile-icon">
            <div id="icon">
                {{!-- <h1>{{user.profileIconId}}</h1> --}}
            </div>
        </div>
        <div class="Profile-General">
                    <h1>{{user.name}}</h1>
                    <h1>Level: {{user.summonerLevel}}</h1>
                    <h1>{{entrieses.0.tier}} {{entrieses.0.rank}}</h1>
        </div>
        <div class="Profile-stats">
            <h1 class="loss">{{entrieses.0.losses}} <span style="color:red">Loss</span> </h1>
            <h2>|</h2>
            <h1 class="wins">{{entrieses.0.wins}} <span style="color:green">Wins</span> </h1>
            <h2>|</h2>
            <h1 class="lp">{{entrieses.0.leaguePoints}} <span style="color:gold">LP</span> </h1>
        </div>
    </section>

    <section class="Matches">
            {{#each matches}}
            <h2>{{this.lane}}</h2>
            {{/each}}
    </section>